@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300;400;500;700;900&display=swap');

@import "tailwindcss";

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background: #f5f7f5;
    color: #2c2f2e;
}

@theme {
    --color-primary: #006b0a;
    --color-background: #f5f7f5;
    --color-surface-container-lowest: #ffffff;
    --color-surface-container-low: #eff1ef;
    --color-surface-container: #e6e9e7;
    --color-surface-container-high: #e0e3e1;
    --color-on-surface: #2c2f2e;
    --color-on-surface-variant: #595c5b;
    --color-primary-container: #59ee50;
    --color-on-primary-container: #005406;
    --color-error: #b02500;
}
